<div class="container">
  <h1>Jose BAUDY</h1>
  <div class="link">
    <a href="https://www.snapchat.com/add/josebaudy83">
      👻 josebaudy83
    </a>
  </div>
  <div class="link">
    <a href="https://twitter.com/charlesbaudy">
      🐦 charlesbaudy
    </a>
  </div>
  <div class="link">
    <a href="https://www.instagram.com/baudycharles/">
      📷 baudycharles
    </a>
  </div>
  <div class="flags-container">
    <div class="flag-container-1">
        <div class="flag">
            <div class="blue"></div>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/Ashoka_Chakra.svg/630px-Ashoka_Chakra.svg.png" alt="">
            <div class="green"></div>
        </div>
    </div>
    <div class="flag-container-2">
        <div class="flag">
          <div class="blue"></div>
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/Ashoka_Chakra.svg/630px-Ashoka_Chakra.svg.png" alt="">
          <div class="green"></div>
        </div>
    </div>
</div>
</div>
