<div class="container">
  <h1>Bienvenue chez Jose</h1>
  <div class="skull">
    ✌️😐
  </div>
  <div class="flags-container">
    <div class="flag-container-1">
        <div class="flag">
            <div class="green"></div>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/Ashoka_Chakra.svg/630px-Ashoka_Chakra.svg.png" alt="">
            <div class="blue"></div>
        </div>
    </div>
    <div class="flag-container-2">
        <div class="flag">
          <div class="green"></div>
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/Ashoka_Chakra.svg/630px-Ashoka_Chakra.svg.png" alt="">
          <div class="blue"></div>
        </div>
    </div>
</div>
</div>
