/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
body {
  margin: 0;

  background-color: midnightblue;
}

h1 {
  font-family: 'IBM Plex Mono', monospace;
}
